<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="stylesheets/style.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="javascripts/chat.js"></script>
</head>
<body>
<div id="mainContainer" class="container">
  	<div class="header">
    	<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				    	<span class="sr-only">Toggle navigation</span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
				    	<span class="icon-bar"></span>
				  	</button>
				  	<a class="navbar-brand" href="/chat">AV Chat</a>
				</div>
				<div class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav">
				    	<li class="active"><a href="/profile">Profile</a></li>
				    	<li><a href="/about">About</a></li>
				    	<li><a href="/logout">Logout</a></li>
				  	</ul>
				</div>	        
			</div>
		</div>
	</div>

    <div class="row-fluid">
    	<div id="chatZone" class="col-md-8">
    		<div id="chatMessageBox">
    		</div>
    		<div id="chatInputBox">
    			<form class="form" role="form">
				  <div class="form-group col-md-10">
				    <textarea id="message" class="form-control" rows="2"></textarea>
				  </div>
				  <input id="sendBtn" type="submit" class="btn btn-primary col-md-2" value="Send">
				</form>
    		</div>
    	</div>
    	<div id="usersList" class="col-md-4">
    		<h1>Users list</h1>
    	</div>
   	</div>
   	<div class="clearfix"></div>
	<div class="footer">
		<p>Powered by: Mirdrack</p>
		<div id="username"><%= user.local.username %></div>
	</div>
</div>
</body>
</html>